[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "~=2.24.0"
matplotlib = "*"
pandas = "*"
scipy = "*"

[requires]
python_version = "3.7"
